@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

/* !Style resets */
* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

/* !Global styles */
.valign {
	vertical-align: middle;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.hide {
	display: none;
}

a {
	color: #d44950;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* !Page/Body */
body {
	background-color: white;
	font-size: 62.5%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
	padding: 2.5%;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	min-width: 768px;
}

/* @group Content */
h1,h2,h3,h4,h5,h6 {
	color: #1a1d24;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	padding-bottom: 16px;
}

h1 {
	font-size: 55px;
	margin-bottom: 0px;
	border-bottom: 1px solid #ebebeb;
}

h2 {
	font-size: 32px;
	padding-top: 30px;
	color: #d44950;
}

h3 {
	padding-top: 20px;
	font-size: 22px;
	border-bottom: 2px solid #ebebeb;
	margin-bottom: 20px;
}

h4 {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 10px;
}

h4 em {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	background-color: #d7d7d7;
	color: #fff;
	padding: 2px 4px;
	margin: 0 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	white-space: nowrap;
}

h5,h6 {
	font-size: 14px;
}

p {
	font-size: 15px;
	padding-bottom: 16px;
	line-height: 170%;
}

ul, ol {
	font-size: 15px;
	padding-bottom: 6px;
	line-height: 160%;
	margin-left: 16px;
}

nav ul, nav ol {
	margin-left: 0;
}

nav ul li, nav ol li {
	display: inline-block;
	padding-right: 15px;
}

strong {
	color: #1a1d24;
	font-weight: 700;
}

code {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #d44950;
	font-weight: normal;
	font-size: 13px;
	background-color: #f9f2f4;
	padding: 2px 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	white-space: nowrap;}

pre {
	width: auto;
	padding: 15px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
    margin-bottom: 16px;
	display: block;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-weight: normal;
	font-size: 12px;
	line-height: 170%;
	color: #4f9fcf;
	overflow: auto;
}

h2 + p {
	color: #d44950;
	font-size: 18px;
	font-family: "Lato", sans-serif;
}

/* @group Tables */
table {
	border: 2px solid #ebebeb;
	border-collapse: collapse;
	font-size: 15px;
	margin-bottom: 16px;
	width: 100%;
}

th {
	color: black;
	white-space: nowrap;
	padding: 8px 5px;
	text-align: left;
	font-weight: 700;
	font-size: 14px;
	background-color: #f7f7f7;
}

td {
	border: 1px solid #ebebeb;
	padding: 8px 5px;
}

/* @group Form fields */
fieldset {
	border: 2px solid #ebebeb;
	padding: 16px 16px 0 16px;
	margin-bottom: 16px;
	font-size: 15px;
	padding: 20px;
}

fieldset legend {
	font-size: 15px;
	padding: 2px 5px;
	background-color: white;
}

input[type="number"], input[type="text"], input[type="password"], textarea {
	border: 1px solid #ccc;
	padding: 5px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	color: black;
	font-size: 12px;
	margin: 5px 0;
}

input[type="submit"], .button, button {
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #d44950;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	font-size: 15px;
	text-decoration: none;
}

form label {
	display: inline-block;
	font-size: 15px;
	min-width: 200px;
}

/* @group Section */
section div {
	padding: 8px 0;
}

section div label {
	display: inline-block;
	width: 150px;
	font-size: 15px;
}

section div input[type="text"] {
	width: 250px;
}

section input.error {
	border-color: #d44950;
	background-color: #f9f2f4;
}

section textarea {
	width: 95%;
	height: 50px;
}

/* @group Article */
article {
	overflow: hidden;
}

article li {
	display: block;
	float: left;
	border: 1px solid #ebebeb;
	width: 16%;
	height: 290px;
	padding: 0.5%;
	margin-right: 2%;
	margin-bottom: 2%;
	text-align: center;
}

/* @group Line Numbers */
pre .line-number {
  	/* Size line-height between the text in the <code> and <span class="line-number"> be the same! */
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	color: #ccc;
	display: block;
	line-height: 170%;
}

pre .line-number {
	float: left;
	margin: 0 1em 0 -1em;
	text-align: right;
}

pre .line-number span {
	display: block;
	padding: 0 .5em 0 1em;
}

pre .cl {
	display: block;
	clear: both;
}

/* !Tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {

	#wrapper nav {
		width: 100%;
		position: relative;
		overflow: auto;
		left: 0;
		z-index: 0;
		font-size: 12px;
		font-family: "Lato", sans-serif;
	 	padding-top: 20px;
	 	height: 20px;
	 	background: #1a1d24 url('icon-menu.png') 30px 13px no-repeat;
	 	font-size: 16px;
	}

	#wrapper nav dl {
		padding-left: 30px;
	}

	#wrapper nav dl dt {
		font-size: 17px;
	}
	
	#wrapper #contentWrapper {
		width: auto;
		max-width: none;
		margin-left: 0;
		padding: 0px 0px;
		overflow: hidden;
	}
	
	#content {
		padding-top: 10px;
	}
	
	p, ul, ol {
		font-size: 16px;
	}

}